# Aliases File for my various devices
# Updated 220808 1554


## LS Aliases
alias ls='ls -GFh'
alias la='ls -laGFh'
alias ll='ls -lGFh'

## vim - Use vim built from git source
alias vi='/usr/local/bin/vim'

## grep 
alias grep='grep --color=auto'

## tldr
alias man='tldr'

## Other applications
alias htop='sudo htop'
alias sudo='sudo '      # Allow sudo to pass arguments
alias git='git '        # Allow git to pass arguments

# Mac-Specific Aliases
alias buu='brew update && brew upgrade'
alias tvnamer='tvnamer --always --recursive --selectfirst'
alias m4b-tool='docker run -it --rm -u $(id -u):$(id -g) -v "$(pwd)":/mnt sandreas/m4b-tool:latest'
