# Aliases File for my various devices
# Updated 220808 1554


## LS Aliases
alias ls='ls -GFh'
alias la='ls -laGFh'
alias ll='ls -lGFh'

## vim Alias - Use vim built from git source
alias vi='/usr/local/bin/vim'

## grep Alias
alias grep='grep --color=auto'

## tldr Alias
alias man='tldr'

## Other application Aliases
alias tvnamer='tvnamer --always --recursive --selectfirst'
alias htop='sudo htop'
alias sudo='sudo '      # Allow sudo to pass aliases
alias git='git '        # Allow git to pass aliases

# Mac-Specific Aliases
## Homebrew Alias
alias buu='brew update && brew upgrade'
## m4btool Alias
alias m4b-tool='docker run -it --rm -u $(id -u):$(id -g) -v "$(pwd)":/mnt sandreas/m4b-tool:latest'
